N8N_PORT=5682
N8N_USER_FOLDER=C:\Users\Admin\.n8n-scheduled-ai-music
N8N_PROTOCOL=http
N8N_HOST=localhost
N8N_RUNNERS_BROKER_PORT=5683
GENERIC_TIMEZONE=Asia/Dubai
TZ=Asia/Dubai
NODE_FUNCTION_ALLOW_BUILTIN=fs,path,crypto

OPENAI_API_KEY=replace_me
MUSICGPT_API_KEY=replace_me

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
